header {
    width: 300px;
    height: 300px;
    border: 2px solid skyblue;
    display: grid;
    overflow: hidden;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 10px;
    grid-auto-flow: row dense;
    grid-template-areas: "header header header" "nav main main" "nav footer footer";
}

header div {
    background-color: red;
    background-clip: content-box;
    padding: 10px;
    border: 1px solid black;
}

header div:first-child {
    /* grid-area: header; */
    background-color: yellowgreen;
}