header {
  width: 400px;
  height: 200px;
  border: 2px solid skyblue;
  display: grid;
  grid-template-columns: repeat(2, 50px 150px);
}
header div {
  background-color: red;
  background-clip: content-box;
  padding: 10px;
  border: 1px solid black;
}
