header {
  width: 300px;
  height: 300px;
  border: 2px solid skyblue;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  overflow: hidden;
}
header div {
  background-color: red;
  background-clip: content-box;
  padding: 10px;
  border: 1px solid black;
}
header div:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
  background-color: yellow;
  grid-column-end: span 1;
  grid-row-end: span 3;
}
