<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" name="input" v-model="message">
        <div>{{message}}</div>
        <button @click="submit">提交</button>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                message: null,
            },
            methods: {
                submit: function() {
                    this.message = "submited";
                }
            }
        })
    </script>
    <div id="sex-radio">
        <input type="radio" value="男" v-model="sex">man
        <input type="radio" value="女" v-model="sex">woman
        <div>选中的性别是：{{sex}}</div>
    </div>

    <script>
        const vm1 = new Vue({
            el: "#sex-radio",
            data: {
                sex: "男",
            }
        })
    </script>
    <div id="agreement">
        <label for="check"><input type="checkbox" name="" id="check" value="同意"  v-model="argee"/>同意协议</label>
    </div>
    <script>
        const agreement = new Vue({
            el: "#agreement",
            data: {
                argee: false,
            }
        })
    </script>
</body>

</html>