<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" name="input" v-model="message">
        <div>{{message}}</div>
        <button @click="submit">提交</button>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                message: null,
            },
            methods: {
                submit: function() {
                    this.message = "submited";
                }
            }
        })
    </script>
    <div id="sex-radio">
        <input type="radio" value="男" v-model="sex">man
        <input type="radio" value="女" v-model="sex">woman
        <div>选中的性别是：{{sex}}</div>
    </div>

    <script>
        const vm1 = new Vue({
            el: "#sex-radio",
            data: {
                sex: "男",
            }
        })
    </script>
    <div id="agreement">
        <label for="check"><input type="checkbox" name="" id="check" value="同意"  v-model="argee"/>同意协议</label>
    </div>
    <script>
        const agreement = new Vue({
            el: "#agreement",
            data: {
                argee: false,
            }
        })
    </script>
    <div id="checkBox">
        <label v-for="value in hobbies"><input type="checkbox" :value="value" v-model="list">{{value}}</label> {{list}}
    </div>
    <script>
        const selectBox = new Vue({
            el: "#checkBox",
            data: {
                hobbies: ["篮球", "足球", "排球", "羽毛球"],
                list: [],
            }
        })
    </script>
    <div id="selectBox">
        <select v-model="fruit">
            <option value="apple">苹果</option>
            <option value="banana">香蕉</option>
            <option value="orange">橘子</option>
            <option value="grane">葡萄</option>
        </select>
    </div>
    <script>
        const fruitBox = new Vue({
            el: "#selectBox",
            data: {
                fruit: "banana",
            }
        })
    </script>
    <div id="multipleBox">
        <select name="" id="" multiple v-model="fruit">
            <option value="apple">苹果</option>
            <option value="banana">香蕉</option>
            <option value="orange">橘子</option>
            <option value="grane">葡萄</option>
        </select>
        <div>{{fruit}}</div>
    </div>
    <script>
        const vm2 = new Vue({
            el: "#multipleBox",
            data: {
                fruit: [],
            }
        })
    </script>
</body>

</html>