/*在css中class类名需要使用.来声明，如果html的class名中含有括号，需要用空格分隔开*/

.first.first {
    color: none;
    display: -webkit-box;
    display: flex;
}


/*子类元素可以继承父类元素css规则，
选择器的特殊性越高，规则就越强，遇到冲突时，
优先应用特殊性强的规则，可以用！import声明特殊性最强
*/

p {
    color: orange !important/*声明特殊性最强*/
}


/*对应的class为：class="first first"*/